log:
  display_level: true
  level_filter: "info"

hash:
  argon2:
    algorithm: "Argon2id"
    version: "V0x13"
    salt: "cGSkx2yuzi6aHcHPyRQD2Tfi8CupDKu6HqKaMdT47nBBWaY2KS9tiLXKi4zEiwxd"

token:
  jwt:
    secret: "cGSkx2yuzi6aHcHPyRQD2Tfi8CupDKu6HqKaMdT47nBBWaY2KS9tiLXKi4zEiwxd7E4xBw2VKuMYRVd45bQHJ6TdWi27CiMEjQ4dsFPnn2hLA2UpenKBZEjppSe4A9Jy"
    expiry_duration: 604800 # seconds

mailer:
  smtp_host: "smtp.gmail.com"
  smtp_username: "smtp_username"
  smtp_password: "smtp_password"
  sender_name: "sender_name"
  sender_email: "sender_email"

db:
  scylla:
    host: "10.42.28.104"
    port: "19042"
    replication_factor: 3
    prepared_statement_cache_size: 15511
    table_properties:
      registration_ttl: 600 # seconds
      reset_password_ttl: 600 # seconds

api:
  rest:
    host: "0.0.0.0"
    port: "8080"

auth:
  access_token_length: 20
